.form {
  width: 30%;
  background: #3ad866;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: fixed;
  margin-top: 10%;
  margin-left: 60%;
}

.form-button {
  background: #ed6b5a;
  border: none;
  border-radius: 2px;
}

.form-img {
  width: 300px;
  height: 200px;
  padding: 15px;
}
